@using EntityLayer.Concrete
@model List<Categories>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>
@foreach(var item in Model)
{
    <h1>@item.Category_Name</h1>
    <h2>@item.Category_Status</h2>
}
